@charset "utf-8";
/* CSS Document */
@media (max-width:768px){
    button.w-50, button.w-75 {width:100% !important;}
    .list-group-item.active strong {left: 0px !important;}
    .dot_slider.list-group-horizontal .list-group-item {padding:.55rem 0rem !important; margin-right: .1rem !important;}
    
    .homeBanner {margin-top:0px !important;}
    
}
@media (max-width:1200px){img {max-width:100%;}}
@media (min-width:1200px){
.homePageIntro {height:654px;}
.introSection button, .contentSection button {width:360px !important; }
.theme-width {max-width:960px;}
}
body {letter-spacing: -0.1px;}
.text-primary {color:#6442ef;}
.btn-outline-primary {border-color: #6442ef; color:#6442ef;}
.btn-primary, .progress-bar {background-color: #6442ef; border-color: #6442ef;}
.fw-bold-m {font-family: 'euclid_circular_bmedium';}
.main-wrapper { margin:40px;}

.spinner-border {width: 7rem; height: 7rem; border-width: .50em;}
.icon.badge { width:40px; height:40px; display:flex; text-decoration:none;}
.flex1 {flex:1;}
.horizentalBar {width:10px; background-color: rgba(0, 0, 0, 0.12); display: block; border-radius:10px;}

.align-self-end {align-self:flex-end;}
.list-group-item {position: relative;}
.list-group-item.active {background-color:rgba(0,0,0,0.0);}
.list-group-item.active strong {position: absolute; left: 0px; font-size: 14px; top:15px; color:#6442EF;}
.list-group-item.active .horizentalBar {background-color:#FD8F55!important;}
.dot_slider .list-group-item.active .horizentalBar {background-color:#6442EF!important;}
.dot_slider.list-group-horizontal .list-group-item {border: 1px solid rgba(0,0,0,0); padding:.55rem 0.6rem; width:28px; height:28px; border-radius:10px; margin-right: 1.30rem;}

.dot_slider.list-group-horizontal .list-group-item:hover {border: 1px solid rgba(0,0,0,1);}
.dot_slider.list-group-horizontal .list-group-item.active {border: 1px solid rgba(0,0,0,0);}
.spinner-border {border-width: .37em;}
button {border-radius: 16px !important; height: 48px; box-shadow: 0 1px 16px rgba(100, 66, 239, 0.3) !important;}
button.bg-transparent {box-shadow: none !important;}
button.btn-outline-primary {box-shadow: none !important;}

.introSection button, .contentSection button {border-radius: 32px !important;} 
.introSection button, .contentSection button {height:84px !important; }
.customTooltip {display:none; width:34px; height:41px; border-radius:10px 0 10px 0; position: absolute; top:-45px; left:50%; transform: translate(-50%, 0); font-size: 12px; background:url(../img/icon_tooltip.png) 0 0 / 100% no-repeat;}

.customTooltip strong {display:block; font-size: 18px; margin-top: 4px; color:#ffffff;}

.list-group-item:hover .customTooltip {display:block !important;}
.homeBanner {margin-top:-70px;}
.textopacity {  color:rgba(33,33,33,0.6) !important; letter-spacing: -0.1px; line-height: 30px;}

.textopacity.letter-spacing-0, .letter-spacing-0 {letter-spacing: normal !important;}
.textopacity.line-height-0 {line-height: normal !important;}
.line-height-0 {line-height: normal !important;}
.text-black {color:#212121 !important;}
.text-secondary-666666 {color:#666;}
#root {height: 100%; position: relative; z-index: 1;}
#root > .container { min-height: 100vh !important; padding-bottom: 100px;}
.text-secondary {color:rgba(33,33,33,0.6) !important;}
.questionCount.text-secondary {color:#A2A2A2 !important;}
.text-666 {color:#666666 !important;}
.lh-38 {line-height:38px !important;;}
.lh-18 {line-height:18px !important;}
.lh-30 {line-height:30px;}
.lh-22 {line-height:22px;}
.lh-20 {line-height:20px;}
input[type=range]::-webkit-slider-thumb {
    z-index: 10;
    position: relative;
    -webkit-appearance: none;
    border: 4px solid #fff;
    height: 32px;
    width: 32px;
    border-radius: 3px;
    background: #FD8F55;
    border-radius:50%;
    cursor: pointer;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
     /* Add cool effects to your sliders! */
  }

  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: 4px solid #fff;
    height: 32px;
    width: 32px;
    border-radius: 3px;
    background: #FD8F55;
    border-radius:50%;
    cursor: pointer;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
     /* Add cool effects to your sliders! */
  }

  .mt-6 {margin-top:4rem;}
  .form-check-label {line-height:18px; font-size: 12px; color:#A2A2A2; margin-top:1px;}

  .text-a2a2a2 {color:#a2a2a2;}
  .form-control {height:54px; color:#666666; font-size: 16px; border-color: #D9D9D9;}
  
  .form-control[readonly] {background-color: #F6F7F8; border:none !important; }

  /*Custom  */
    
  /* for logo */
  .headerlogo {width: 100px;min-width: 120px;}  

    /* for Facebook */

  .fbButton{
    padding: 9px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    background: #1098f5!important;
    text-align: center!important;
    color: #fff!important;
    cursor: pointer!important;
    transition: box-shadow .3s ease-in-out 0s!important;
    text-decoration: none!important;
    letter-spacing: normal!important;
    text-transform: none!important;
    border: unset!important;
    font-size: 15px;
    width: 100%;
}

/* for Google */

.Gbutton{ 
    display: block;
    border: 0px;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 50%) 0px 1px 2px;
    color: black !important;
    cursor: pointer;
    font-size: 19px;
    width: calc(100% - 10px);
    overflow: hidden;
    padding: 0px 10px;
    user-select: none;
    height: 50px;
    background: white;
    font-size: 15px;
    width: 100%;
}

.floatL{float:left;}
.buttonText{padding: 2px 3px 2px 6px;}
.heading{    
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.4rem;
    color: #61C338;
    margin: 0;
}
.sub_heading{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 1.8rem 0;
}

.page-content{
    background-color: #fff;
    border-radius: 1.2rem;
    box-shadow: 0px 0.4rem 1.2rem rgb(0 0 0 / 30%);
    width: 50rem;
    z-index: 10;
    padding: 1.4rem 6rem;
    text-align: center;
    position: relative;
}
.submit_btn{
    display: flex;
    width: 100%;
    margin: 2.6rem 0 1.3rem;
    background: #61C338;
    border-radius: 60px;
    border: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.4rem;
    padding: 1.5rem 0;
    outline: unset;
    cursor: pointer;
    transition: box-shadow 300ms ease-in-out;   
}

.orDivider {
    font-weight: 600;
    color: #a9a9a9;
    margin: 3rem 0;
    position: relative;
    font-size: 2rem;
    line-height: 2.4rem;
  }
  
  .orDivider::before {
    content: "";
    width: 45%;
    height: 1px;
    background-color: #a9a9a9;
    bottom: 49%;
    position: absolute;
    left: 0;
  }
  
  .orDivider::after {
    content: "";
    width: 45%;
    height: 1px;
    background-color: #a9a9a9;
    bottom: 49%;
    position: absolute;
    right: 0;
  }

  .loadingBg {background:url("../img/loading-bg.jpg") no-repeat 50% 50% / 80% #fafafa;}
  .loaderBox {position: absolute; top:70%; left:53%; transform: translate(-53%, -70%); display: block; width:80px;}
  .loaderBox .spinner-border {background:url("../img/loader.png") no-repeat 0 0 / 100%; border-color: rgba(0,0,0,0);}

 .loginSideBg {background:#00dd66;} 

 .dash-image{
  max-width: 100%;
  height: 100px;
 }

 .scollDiv{
  overflow: scroll !important;
 }