@charset "utf-8";
/* CSS Document */
html {height: 100%;}
body {background:transparent !important; background-image: url("../img/bgpng.png") !important; 
    background-attachment: fixed !important; height: 100%; background-position-y: 100% !important; background-repeat: no-repeat !important; background-size: 100% !important;}